{
  "Android": [
    { "rule": "env", "variable": "ANDROID_HOME" },
    { "rule": "cli", "binary": "adb", "regex": "" },
    { "rule": "cli", "binary": "adb" },
    { "build-tools": "cli" },
    { "sdk": "cli" }
  ],
  "NPM": [{ "rule": "cli", "binary": "npm", "semver": "^1.0.1" }],
  "Yarn": [{ "rule": "cli", "binary": "yarn", "version": "--version", "semver": "^1.0.1" }],
  "React Native CLI": [{ "rule": "cli", "binary": "react-native", "line": 1 }],
  "Watchman": [
    {
      "rule": "cli",
      "binary": "watchman",
      "line": 1,
      "error": "please install `brew install watchman`"
    }
  ]
}
