<a href='https://infinitered.github.io/solidarity/'><img src='https://github.com/infinitered/solidarity/raw/master/_art/plugin.jpg' align='left' height="60"/></a>

# <%= props.pluginName %>
## <%= props.description %>
Much longer description

## Install:
`npm i <%= props.pluginName %>` or `yarn add <%= props.pluginName %>`
This plugin will automatically be picked up by Solidarity (which should already be installed).

## What is Solidarity?
#### [:newspaper: Read More About Solidarity Here](https://github.com/infinitered/solidarity)
