<a href='https://infinitered.github.io/solidarity/'><img src='https://github.com/infinitered/solidarity/raw/master/_art/plugin.jpg' align='left' height="60"/></a>

# <%= props.pluginName %>
### Short Description
Much longer description



# What is Solidarity?
#### [:newspaper: Read More About Solidarity Here](https://github.com/infinitered/solidarity)
